# App
NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:5173

# Auth
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d

# MongoDB URI
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Brevo
BREVO_API_KEY=xkeysib-...
SENDER_EMAIL=noreply@example.com
SENDER_NAME=your_app_name

# AWS
AWS_REGION=region_name
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_S3_BUCKET=your_bucket_name
